@import "tailwindcss";

@theme{
  --breakpoint-*: initial;
  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-bp-840: 840px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2560px;
  --breakpoint-3xl: 3440px;
  --color-red-vasco: #ED3237;
}

@theme inline{
  --font-poppins: var(--font-poppins);
  --font-artifika:var(--font-artifika);
}
 
@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateX(-20px);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}

.animate-fadeInUp{
  animation: fadeInUp 1s ease-in-out;
}


